<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <a href="#" id="logo">Podcasts-HUB</a>
      <nav>
        <ul>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Sign In</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Home for your favorite Podcasts.</h1>
    <h2>Create your free Podcast and your favourites only on Podcasts HUB.</h2>
    <a href="#" class="button button_highlight">Get Started</a>
    <a href="#" class="button button_white">Create Podcast</a>
  </div>
</div>
