 $white: #FFFFFF;
 $dark: #000000;
 $light: #EDEFF5;

 body {
   font-family: 'Montserrat', sans-serif;
 }

 .wrapper_wide {
   width: 90%;
   margin: 0 auto;
 }

 .wrapper {
   width: 80%;
   margin: 0 auto;
 }

 .wrapper_skinny {
   width: 60%;
   margin: 0 auto;
 }

 .cf:before, .cf:after {
   content: " ";
   display: table;
 }

 .cf:after {
   clear: both;
 }

 .button {
   text-decoration: none;
   color: #D30027;
   font-size: 1rem;
   font-weight: bold;
   letter-spacing: 1px;
   padding: 1rem 2rem;
   border-radius: 2rem;
   outline: none;
   border: none;
   min-width: 8.5rem;
 }

 .button_highlight {
   background: $white;
   transition: background .1s ease-in-out;
   border: 2px solid $white;
   &:hover {
     background: none;
     color: $white;
   }
 }

 .button_white {
   letter-spacing: 1px;
   color: $white;
   transition: background .1s ease-in-out;
   border: 2px solid $white;
   &:hover {
     color: #D30027;
     background: $white;
   }
 }

 .button_submit {
   background: #C20917;
   transition: background .1s ease-in-out;
   border: 2px solid #C20917;
   color: $white;
   &:hover {
     color: #D30027;
     background: $white;
   }
 }

 #main_header {
   color: #d30027;
   background: $white;
   padding: 1.5rem 0;
   #logo {
     float: left;
     text-transform: uppercase;
     font-weight: bolder;
     font-size: 2em;
     color: #d30027;
     text-decoration: none;
   }
   nav {
     float: right;
     ul {
       list-style: none;
       margin: 0;
       li {
         display: inline;
         margin-left: 2.5rem;
         a {
           color: $dark;
           font-size: 1.2em;
           text-decoration: none;
         }
       }
     }
   }
 }

 #banner_signup {
   background-image: image-url("darkstudio.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   margin-bottom: 2rem;
   h1 {
     width: 70%;
     text-align: center;
     font-size: 3rem;
     font-weight: lighter;
     letter-spacing: 1px;
     margin: 0 auto;
     padding: 9rem 0;
     color: #FFFFFF;
   }
 }

 #banner {
   background-image: image-url("redcar.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   margin-bottom: 2rem;
   h1 {
     width: 70%;
     text-align: center;
     font-size: 3rem;
     font-weight: lighter;
     letter-spacing: 1px;
     margin: 0 auto;
     padding: 9rem 0;
     color: #FFFFFF;
   }
 }

 #banner_podcasts_index {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right center;
   background-image: image-url("redcar.jpg");
   margin-bottom: 2rem;
   h1 {
     width: 60%;
     text-align: left;
     color: #000000;
     font-size: 3rem;
     font-weight: 300;
     letter-spacing: 1px;
     margin: 0 auto;
     padding: 9rem 0;
   }
 }

 .pagination:before, .pagination:after {
   content: " ";
   display: table;
 }

 .pagination:after {
   clear: both;
 }

 .pagination:before,
 .pagination:after {
   content: “ “;
   display: table;
 }

 .pagination:after {
   clear: both;
 }

 .pagination {
   text-align: center;
   margin: 2rem 0;
   a, .previous_page, .current, .next_page {
     padding: 0.75rem 1rem;
     margin: 0 .25rem;
     border-radius: .15rem;
     line-height: 20px;
     text-decoration: none;
     background-color: $light;
     font-weight: 700;
     font-size: .7rem;
     font-style: normal;
     color: $dark;
     &:hover {
       background: #D30027;
       color: $white;
     }
   }
   .disabled {
     color: #C0C0C0;
     &:hover {
       color: #C0C0C0;
     }
   }
   .current {
     background: #D30027;
     color: $white;
   }
 }

.sign_in_banner {
  background-image: image-url("sign_in_banner.jpg");
}

#form {
  padding: 3rem 3.5%;
  background: $white;
  border-radius: .35rem;
  .title {
    color: $dark;
    text-align: center;
  }
}

.field {
  margin: .5rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
  width: 100%;
  height: 2.5rem;
  padding: .5rem 1rem;
  background: $light;
  border: 1px solid darken($light, 5%);
  border-radius: .35rem;
  margin-top: .5rem;
}

input[type=”file”] {
  margin-top: .5rem;
}

textarea {
  height: 8rem;
}

@import 'normalize';
@import 'podcasts';
@import 'welcome';
